aio-pika==6.8.0
aiormq==3.3.1
cffi==1.14.5
chardet==4.0.0
coloredlogs==15.0
cryptg==0.2.post4
cryptography==3.4.7
humanfriendly==9.1
idna==3.2
img2pdf==0.4.1
lxml==4.6.3
motor==2.5.0
multidict==5.1.0
ocrmypdf==12.0.1
pamqp==2.3.0
pdfminer.six==20201018
pikepdf==2.12.0
Pillow==8.2.0
pluggy==0.13.1
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
pymongo==3.12.0
reportlab==3.5.67
rsa==4.7.2
sortedcontainers==2.3.0
Telethon==1.21.1
tqdm==4.60.0
yarl==1.6.3
